.vscode/**
.vscode-test/**
.vscode-test.mjs
out/**
node_modules/**
src/**
coverage/**
tmp/**
.github/**
.claude/**
.ruby-lsp/**
CLAUDE.md
images/icon.svg
.yarn/**
.yarnrc.yml
yarn.lock
.gitignore
.editorconfig
.node-version
.c8rc.json
.mocharc.json
biome.json
esbuild.js
syntaxes/fixtures/**
**/tsconfig.json
**/*.map
**/*.ts
